// Base styles
*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  @include p1;
  color: $black;
  overflow-x: hidden;
  background: $gray-lite;
  padding-top: $header-sm;
  @include min-screen($breakpoint-nav) {
    padding-top: $header-md;
  }
}

.brand {
  display: inline-block;
  a {
    display: inline-block;
    text-decoration: none;
  }
}

p {
  line-height: 1.5;
}

a {
  color: inherit;
}

img {
  height: auto;
  max-width: 100%;
}

// Browser alert
.alert-warning {
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  color: $black;
  padding: 50px;
  text-align: center;
  background: $brand-primary;
}
.alert {
  padding: 50px;
  background: #fff;
}

// Disable scrolling when modals are active
.no-scroll {
  overflow: hidden;
}

// Utility classes
.hide {
  display: none;
}

// Page overlay
.global-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 40;
  opacity: 0;
  position: fixed;
  background: rgba($black,.9);
  transition: opacity .2s ease-out;
  &.-active {
    opacity: 1;
  }
}

.wrap {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;

  &.-flush {
    padding-left: 0;
    padding-right: 0;
  }

  @include media-md {
    max-width: #{980px + $padding * 2};
    &.-flush, & {
      padding-left: $padding;
      padding-right: $padding;
    }
  }
}

.site-main {
  position: relative;
  &::before {
    left: 50%;
    bottom: 0;
    height: 0;
    z-index: 0;
    width: 100%;
    content: '';
    position: absolute;
    padding-bottom: 12.5%;
    transform: translateX(-50%);
    max-width: #{980px + $padding * 2};
    background-image: url('../images/textures/prefooter.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom left;
  }
  &::after {
    right: 0;
    bottom: 0;
    top: 556px;
    width: 15px;
    content: '';
    position: absolute;
    background: url('../images/ruler.png');
    background-size: 15px auto;
  }

  @include media-md {
    &::after {
      top: 460px;
    }
  }

  @include media-md {
    padding-bottom: $padding;
  }
}