// Base styles
*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  color: $black;
  font-size: 16px;
  overflow-x: hidden;
  background: $gray-lite;
  font-family: $font-regular;
  padding-top: #{$global-padding / 2};
}

.brand {
  display: inline-block;
  a {
    display: inline-block;
    text-decoration: none;
  }
}

h1,
h2 {
  @extend .font-display;
}

p {
  line-height: 1.5;
  em {
    @extend .font-regular-italic;
  }
}

a {
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

// Browser alert
.alert-warning {
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  color: $black;
  padding: 50px;
  text-align: center;
  background: $brand-primary;
}
.alert {
  padding: 50px;
  background: #fff;
}

// Disable scrolling when modals are active
.no-scroll {
  overflow: hidden;
}

// Utility classes
.hide {
  display: none;
}

.site-container {
  padding-right: #{$global-padding / 2};
}

.wrap {
  position: relative;
  padding: 0 #{$global-padding / 2};

  &.-flush {
    padding: 0;
  }

  @include media-md {
    &.-flush, & {
      padding: 0 60px;
      @include clearfix;
    }
  }
}

.site-main {
  position: relative;
  &::after {
    bottom: 0;
    top: 545px;
    width: 15px;
    content: '';
    position: absolute;
    right: -#{$global-padding / 2};
    background: url('../images/ruler.png');
    background-size: 15px auto;
  }

  @include media-sm {
    &::after {
      top: 460px;
    }
  }

  @include media-md {
    padding-bottom: $global-padding;
  }
}