// Footer

.site-footer {
  position: relative;
  background: $gray-lite;
  padding: #{$global-padding / 2} 0;

  &::before,
  &::after {
    top: -17px;
    content: '';
    position: absolute;
    @extend .sprite-icon;
    @include sprite($corner);
  }
  &::before {
    left: -2px;
    transform: scaleX(-1);
  }
  &::after {
    right: -2px;
  }

  .wrap {
    padding-right: 0;
    .brand,
    .newsletter,
    .social {
      vertical-align: top;
      display: inline-block;
    }

    > .grid {
      padding-left: 126px;
    }
  }

  .-left {

  }

  .brand {
    top: 0;
    width: 86px;
    margin-top: 0;
    font-size: 10px;
    left: #{$global-padding / 2};
    position: absolute;
    a {
      display: block;
    }
    svg {
      height: 54px;
      max-width: 100%;
      vertical-align: top;
      fill: $black;
    }

    @include media-md {
      left: $global-padding;
    }
  }

  .newsletter {
    width: 100%;
    margin-bottom: #{$vertical-beat * 3};

    h3 {
      margin-top: 0;
      font-size: 8px;
      line-height: 1.25;
      @extend .font-bold;
      letter-spacing: .16em;
      text-transform: uppercase;
    }

    @include media-md {
      padding: 0 30px 0 0;
    }

    @include media-lg {
      max-width: 260px;
    }
  }

  .social {
    margin: 0;
    padding: 0;
    @include clearfix;
    margin-bottom: #{$vertical-beat * 3};

    li {
      float: left;
      list-style: none;
      margin-left: 10px;
      &:first-of-type {
        margin-left: 0;
      }
    }
    a {
      position: relative;
      display: inline-block;
      &::before {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        display: none;
        position: absolute;
        border-radius: 50%;
        box-shadow: inset 0 0 0 2px $black;
      }
      &:focus {
        outline: none;
      }
      &:hover {
        &::before {
          display: block;
        }
        .icon {
          fill: $gray-lite;
          background: $black;
          vertical-align: top;
        }
      }
    }
    .icon {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      vertical-align: top;
    }

    @include media-md {
      padding-top: 18px;
    }
  }

  .contact {
    font-size: 9px;

    > div {
      margin-bottom: #{$vertical-beat * 3};
    }

    p {
      margin: 0;
    }

    @include media-md {
      padding-top: 18px;
    }
  }

  address {
    line-height: 1.5;
    .street-address {
      display: block;
    }
  }

  .registration-mark {
    cursor: ew-resize;
    @include min-screen($breakpoint-nav) {  
      top: -20px;
      z-index: 2;
      left: calc(50% - 20px);
    }
  }
}