// Footer

.site-footer {
  position: relative;
  padding: 32px 0 35px;
  background: $gray-lite;
  border-top: 1px solid $black;

  > .wrap > .grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @include media-md {
    padding: 48px 0 88px;
  }

  a:hover,
  a:focus {
    color: $red;
  }

  .footer-logo {
    display: block;
    margin-top: -12px;

    svg {
      width: 86px;
      height: 54px;
      fill: $black;
      max-width: 100%;
      vertical-align: top;
    }

    @include media-md {
      margin: -12px 53px 0 -86px;
    }
  }

  .newsletter {
    width: 100%;
    margin: $padding-sm 0;

    @include media-md {
      order: 1;
      width: auto;
    }
  }

  .social {
    @include clearfix;
    margin: 0;
    padding: 0;
    display: flex;

    li {
      list-style: none;
      margin-left: 10px;
      &:first-of-type {
        margin-left: 0;
      }
    }
    a {
      position: relative;
      display: inline-block;
      &::before {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        display: none;
        position: absolute;
        border-radius: 50%;
        box-shadow: inset 0 0 0 2px $black;
      }
      &:focus {
        outline: none;
      }
      &:hover {
        &::before {
          display: block;
        }
        .icon {
          fill: $gray-lite;
          background: $black;
          vertical-align: top;
        }
      }
    }
    .icon {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      vertical-align: top;
    }

    @include media-md {
      order: 2;
      margin: 0 70px;
    }
  }

  .contact-info {
    @include caption;
    width: 100%;
    display: flex;
    justify-content: space-between;

    p {
      margin: 0;
    }

    address {
      line-height: 1.5;
      font-style: normal;
      .street-address {
        display: block;
      }
    }

    .copyright {
      margin-left: 28px;
    }

    @include media-md {
      order: 3;
      width: auto;
    }
  }

  .registration-mark {
    cursor: ew-resize;
    @include media-sm {
      top: -18px;
      z-index: 2;
      left: calc(50% - 17px);
    }
  }
}