// Footer

.site-footer {
  padding: 30px 0;
  background: $gray-lite;
  .wrap {
    > .-left {
      .brand,
      .newsletter,
      .social {
        vertical-align: top;
        display: inline-block;
      }
    }
  }

  .brand {
    width: 86px;
    margin-top: 0;
    font-size: 10px;
    a {
      display: block;
    }
    svg {
      height: 54px;
      max-width: 100%;
      vertical-align: top;
    }
  }

  .newsletter {
    h3 {
      margin-top: 0;
      font-size: 8px;
      line-height: 1.25;
      @extend .font-bold;
      letter-spacing: .16em;
      text-transform: uppercase;
    }

    @include media-md {
      padding: 0 30px;
    }
  }

  .social {
    margin: 0;
    padding: 0;
    @include clearfix;
    li {
      float: left;
      list-style: none;
      margin-left: 10px;
      &:first-of-type {
        margin-left: 0;
      }
    }
    a {
      display: inline-block;
      &:focus {
        outline: none;
      }
      &:hover {
        .icon {
          fill: $gray-lite;
          background: $black;
          vertical-align: top;
        }
      }
    }
    .icon {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      vertical-align: top;
    }

    @include media-md {
      padding-top: 18px;
    }
  }

  .contact {
    font-size: 9px;

    p {
      margin: 0;
    }

    @include media-md {
      padding-top: 18px;
    }
  }

  address {
    line-height: 1.5;
    .street-address {
      display: block;
    }
  }
}

#logo-mark-footer .st0 {
  fill: $red;
}