// Forms

// Newsletter form
.newsletter-form {
  font-size: 8px;
  @include clearfix;
  @extend .font-bold;
  letter-spacing: .16em;
  border: 1px solid $black;
  text-transform: uppercase;

  .mc-field-group {
    float: left;
    position: relative;
  }

  label,
  input {
    width: 100%;
    height: 30px;
    line-height: 30px;
  }

  label {
    top: 0;
    left: 0;
    margin-left: 12px;
    position: absolute;
    transform-origin: left;
    transition: transform .2s ease-out;
  }
  input {
    border: none;
    padding: 0 12px;
    background: none;
    display: inline-block;
    text-transform: uppercase;
    &.hide-label {
      outline: none;
      & ~ label {
        transform: scale(.5) translateY(-65%);
      }
    }
    &:focus {
      background: rgba(0,0,0,.05);
    }
  }

  .input-name {
    width: 100%;
    border-bottom: 1px solid $black;
  }
  .input-email {
    width: calc(100% - 30px);
  }
  .input-submit {
    width: 30px;
    float: left;
    position: relative;
    &::before,
    &::after {
      left: 0;
      width: 1px;
      content: '';
      background: $black;
      position: absolute;
      height: #{$vertical-beat * 2};
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    input {
      padding: 0;
      overflow: hidden;
      text-indent: 100%;
      &:hover {
        background: $black;
        & ~ svg {
          fill: $white;
        }
      }
    }
    .icon {
      top: 50%;
      left: 50%;
      width: 9px;
      height: 9px;
      fill: $black;
      position: absolute;
      transform: translate(-4px,-4px);
    }
  }

  @include media-md {
    .input-name {
      border-bottom: none;
      width: calc(36% - 15px);
      &::after {
        right: 0;
        bottom: 0;
        width: 1px;
        height: 7px;
        content: '';
        background: $black;
        position: absolute;
      }
    }
    .input-email {
      width: calc(64% - 15px);
    }
  }

}

// Custom select styles

.select-wrapper {
    margin: 0;
    padding: 0;
    position: relative;
    &:after {
      right: 10px;
      height: 8px;
      width: 13px;
      content: '';
      bottom: 14px;
      position: absolute;
      pointer-events: none;
      background-size: 13px 8px;
    }
}

.select-wrapper select {
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding-right: 18px;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-wrapper select:focus {
    outline: none;
}
