// Header

.site-header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  position: fixed;
  height: $header-sm;
  background: $gray-lite;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.25);

  &.-scrolled {
    .logo-text-header {
      opacity: 0;
    }
  }

  &.menu-open {
    .brand {
      opacity: 0;
      pointer-events: none;
      transition: opacity .2s ease-out;
    }
  }

  .brand {
    opacity: 1;
    margin-top: 25px;
    position: relative;
    transition: opacity .2s .2s ease-out;
    svg {
      width: 73px;
      height: 62px;
      vertical-align: top;
      path {
        transition: .2s ease-out;
      }
      .logo-mark-header {
        fill: $red;
      }
      .logo-text-header {
        fill: $white;
      }
    }
  }

  .donation-link {
    top: 10px;
    z-index: 11;
    right: 55px;
    position: fixed;
    display: inline-block;
  }

  @include media-md {
    height: $header-md;

    .brand {
      margin-top: 7px;
      margin-left: -35px;
      svg {
        width: 151px;
        height: 128px;
      }
    }

    .donation-link {
      top: 15px;
      right: 60px;
    }
  }

  @include min-screen($breakpoint-nav) {
    > .wrap {
      position: static;
    }
  }
}

// Basic page header
.page-header {
  padding-top: 200px;
  position: relative;
  background-size: cover;
  background-position: top center;
  padding-bottom: $padding;
  &::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    content: '';
    opacity: 0.75;
    position: absolute;
    mix-blend-mode: multiply;
    background-image: linear-gradient(180deg, rgba(130, 145, 240, 0) 0%, rgba(130, 145, 240, 0.75) 100%);
  }

  > .wrap {
    &::after {
      display: none;
      @extend .sprite-icon;
    }
    > * {
      z-index: 1;
      position: relative;
    }
  }

  .wrap {
    z-index: 1;
    position: relative;
  }

  .post-type {
    @include smallcaps;
    color: $white;
  }

  h1 {
    @include h1;
    color: $white;
  }

  @include media-md {
    display: flex;
    min-height: 600px;
    align-items: flex-end;
    padding-bottom: 155px;

    > .wrap {
      &::after {
        left: 0;
        z-index: 0;
        content: '';
        display: block;
        bottom: -155px;
        left: $padding;
        position: absolute;
        @include sprite($pattern-large-2-purple);
      }
    }

    .post-type {
      padding-left: $padding / 2;
    }

    .page-title {
      margin: 0;
      max-width: 50%;
      padding-left: $padding / 2;
    }
  }
}

.secondary-header {
  height: 450px;
  background-size: cover;
  background-position: top center;
  &::after {
    display: none;
    @extend .sprite-icon;
  }

  &.contains-card {
    height: auto;
    display: flex;
    align-items: flex-end;
    .wrap {
      width: 100%;
    }
    .card-grid {
      padding: 0;
      .card {
        outline: none;
        margin-top: 200px;
        &::before {
          z-index: 2;
        }
        &::after {
          display: none;
          @extend .sprite-icon;
        }
        .btn.more {
          left: $padding;
          right: #{$padding / 2};
        }

        @include media-md {
          margin-top: 0;
          &::after {
            bottom: 0;
            left: 100%;
            content: '';
            display: block;
            position: absolute;
            transform: rotate(90deg);
            transform-origin: center left;
            @include sprite($pattern-large-black);
          }
        }
        @include media-lg {
          width: 66.6666%;
        }
        @include media-xl {
         width: 66.6666%;
         max-width: 66.6666%;
        }
      }

    }

    @include media-md {
      height: auto;
      min-height: 600px;
      padding-top: $padding;
    }
  }

  @include media-md {
    height: 600px;
    position: relative;
    &::before {
      top: 3px;
      z-index: 0;
      content: '';
      display: block;
      position: absolute;
      left: #{$padding - 5px};
      @include sprite($pattern-large-gray);
    }
  }
}