// Item Grid

.grid-items {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

// Active Grid Container
.active-grid-item-container {
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 50;
  display: none;
  position: absolute;
  right: #{$global-padding / 2};
  &.-active {
    display: block;
  }

  @include media-md {
    position: fixed;
    padding: $global-padding 0;
  }

  .item-data-container {
    overflow: hidden;

    // State change animations
    &.exitRight {
      .bio-label,
      .person-name,
      .credentials {
        animation: exitRight .5s forwards;
      }
      .body-content {
        animation: exitRight .5s forwards .1s;
      }
    }
    &.exitLeft {
      .bio-label,
      .person-name,
      .credentials {
        animation: exitLeft .5s forwards;
      }
      .body-content {
        animation: exitLeft .5s forwards .1s;
      }
    }
    &.enterRight {
      .bio-label,
      .person-name,
      .credentials {
        opacity: 0;
        animation: enterRight $cubic-ease1 .6s forwards .1s;
      }
      .body-content {
        opacity: 0;
        animation: enterRight $cubic-ease1 .6s forwards .25s;
      }
      .photo {
        animation: zoomInFade .5s forwards;
      }
    }
    &.enterLeft {
      .bio-label,
      .person-name,
      .credentials {
        opacity: 0;
        animation: enterLeft $cubic-ease1 .6s forwards .1s;
      }
      .body-content {
        opacity: 0;
        animation: enterLeft $cubic-ease1 .6s forwards .25s;
      }
      .photo {
        animation: zoomInFade .5s forwards;
      }
    }

    @include media-md {
      height: 100%;
      padding-left: $global-padding;
    }
  }
}

.grid-nav {
  color: $red;
  @include clearfix;
  position: relative;
  padding: #{$vertical-beat * 4} #{$vertical-beat * 4} 0 0;

  .-inner {
    float: right;
  }

  button {
    margin-left: #{$vertical-beat * 4};
    .icon-arrow-right,
    .icon-arrow-left {
      fill: $red;
    }
    .icon-circle-stroke {
      stroke: $red;
    }
  }

  .button-close {
    float: right;
    margin-bottom: #{$vertical-beat * 5};
  }
  .button-prev {
    margin-bottom: #{$vertical-beat * 2};
  }

  @include media-md {
    right: 0;
    position: fixed;
    text-align: right;
    top: $global-padding;
    width: #{$global-padding * 2};
    padding: 0 $global-padding 0 0;
    &::before {
      top: 45px;
      left: 23px;
      content: '';
      height: 1px;
      background: $white;
      position: absolute;
      right: -$global-padding;
    }
    &::after {
      top: 45px;
      width: 1px;
      left: 23px;
      content: '';
      background: $white;
      position: absolute;
      height: #{$vertical-beat * 2};
    }

    .-inner {
      float: none;
    }

    button {
      margin-left: 0;
      display: inline-block;
    }

    .button-close {
      float: none;
    }
  }
}