// Nav

$nav-easing: cubic-bezier(1,0,0,1);

// wp admin bar push
.admin-bar {}

.site-nav {
  top: 0;
  left: 100%;
  z-index: 1;
  width: 100%;
  color: $white;
  position: fixed;
  @extend .font-display;
  background: $gray-lite;
  -webkit-font-smoothing: antialiased;
  transition: left .3s $nav-easing;
  padding: #{$vertical-beat * 6} $global-padding #{$vertical-beat * 14};

  &::before {
    top: -2px;
    right: 33px;
    content: '';
    position: absolute;
    @include sprite($triple-pattern);
    @extend .sprite-icon;
  }

  &.-active {
    left: 0;
  }

  .brand {
    left: -36px;
    position: relative;
    svg {
      width: 115px;
      .logo-mark-header {
        fill: $black;
        transform: scale(.763358779);
      }
      .logo-text-header {
        fill: $black;
        transform: scale(1.144801157) translateX(-19px);
      }
    }
  }

  a {
    color: $black;
    text-decoration: none;
  }

  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      margin-bottom: #{$vertical-beat * 3};
    }
  }

  .sub-menu {
    color: $black;
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease-out;
    &::before {
      left: 0;
      top: 15px;
      width: 6px;
      height: 3px;
      content: '';
      display: block;
      position: relative;
      background: $black;
      margin-bottom: #{$vertical-beat * 3};
    }
    li {
      margin-top: #{$vertical-beat * 2};
    }
  }
  .menu-item-has-children:hover {
    .sub-menu {
      max-height: 200px;
    }
  }


  .shop-link {
    right: 0;
    top: 35px;
    width: 67px;
    height: 35px;
    color: $black;
    font-size: 8px;
    position: fixed;
    @extend .font-bold;
    background: $gray-lite;
    padding: 13px 20px 12px;
    text-transform: uppercase;
    transform-origin: top right;
    transform: rotate(-90deg) translateY(-100%);
    &:hover {
      color: $white;
      background: $black;
    }
  }

  @include min-screen($breakpoint-nav) {
    width: 50%;
    left: auto;
    float: right;
    margin-top: 70px;
    background: none;
    padding: 30px 0 0;
    position: relative;

    &::before {
      left: 0;
      top: auto;
      content: '';
      right: auto;
      bottom: 100%;
      @include sprite($triple-pattern-large);
    }

    .brand {
      display: none;
    }

    a {
      color: $white;
      &:hover {
        color: $black;
      }
    }

    .nav {
      @include clearfix;
      > li {
        float: left;
        margin-left: 20px;
        &:hover {
          color: $black;
        }
        &:first-of-type {
          margin-left: 0;
        }
      }
    }

    .sub-menu {
      width: 0;
      height: 0;
      opacity: 0;
      top: -1000px;
      max-height: none;
      overflow: visible;
      position: relative;
      transition: opacity .2s ease-out;
      li {
        &:first-of-type {
          padding-top: #{$vertical-beat * 3};
        }
        &:last-of-type {
          margin-bottom: #{$vertical-beat * 6};
        }
      }
    }

    .menu-item-has-children:hover {
      .sub-menu {
        top: auto;
        opacity: 1;
        height: auto;
        transition-delay: .2s;
        a {
          color: $black;
        }
      }
    }

    .shop-link {
      top: 5px;
      right: -60px;
      position: absolute;
    }
  }
}

// mobile menu toggle
.menu-toggle {
  top: 0;
  right: 0;
  z-index: 2;
  padding: 0;
  width: 35px;
  height: 35px;
  border: none;
  position: fixed;
  background: $black;
  .lines {
    display: block;
    top: 48%;
    left: 10px;
    width: 16px;
    height: 2px;
    position: absolute;
    background: $white;
    &::before,
    &::after {
      left: 0;
      height: 2px;
      width: 100%;
      content: '';
      background: $white;
      position: absolute;
      transition: all .2s ease-out;
    }
    &::before {
      top: -6px;
    }
    &::after {
      bottom: -6px;
    }
  }

  // States
  &:focus {
    outline: none;
  }

  // Open
  &.menu-open {

    .lines {
      background: rgba($white, 0);
      &::before {
        top: 0;
        transform: rotate(-45deg);
      }
      &::after {
        top: 0;
        transform: rotate(45deg);
      }
    }

    .icon path {
      stroke-dashoffset: 0;
    }
  }

  .icon {
    top: 3px;
    left: 3px;
    z-index: -1;
    width: 29px;
    height: 29px;
    stroke: $white;
    stroke-width: 3px;
    position: absolute;
    path {
      stroke-dashoffset: 150%;
      stroke-dasharray: 150%, 150%;
      transition: stroke-dashoffset .3s $nav-easing .1s;
    }
  }

  @include media-md {
    right: 0;
  }

  @include min-screen($breakpoint-nav) {
    top: auto;
    display: none;
  }
}