$corner: -0px -0px 15px 15px;
$registration: -0px -15px 35px 35px;
$triple-pattern-purple: -0px -50px 105px 35px;
$triple-pattern-white: -0px -85px 105px 35px;
$triple-pattern: -0px -120px 105px 35px;
$triple-pattern-large: -0px -155px 210px 70px;
$pattern-large-2-black: -0px -225px 350px 140px;
$pattern-large-black: -0px -365px 140px 280px;
$pattern-large-gray: -0px -645px 140px 280px;
$pattern-large-2-purple: -0px -925px 140px 350px;
@mixin sprite-width($sprite) {
  width: nth($sprite, 3);
}
@mixin sprite-height($sprite) {
  height: nth($sprite, 4);
}
@function sprite-width($sprite) {
   @return nth($sprite, 3);
}
@function sprite-height($sprite) {
   @return nth($sprite, 4);
}
@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 1);
  $sprite-offset-y: nth($sprite, 2);
  background-position: $sprite-offset-x $sprite-offset-y;
}
@mixin sprite($sprite, $display: block) {
   @include sprite-position($sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: $display;
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

.sprite-icon {
  background-image: url('../images/sprite.png');
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .sprite-icon {
    background-image: url('../images/sprite@2x.png');
    background-size: 350px 1275px;
  }
}
