// Swipebox styles - used for video popup overlays in stories/programs

#swipebox-overlay {
  background: rgba($black,.9);
}

#swipebox-top-bar {
  display: none!important;
}

#swipebox-bottom-bar {
  background: none;
}

#swipebox-prev,
#swipebox-next,
#swipebox-close {
  width: 30px;
  height: 30px;
  background-image: url(../images/swipebox-icons.svg);
  background-size: 90px 30px;
}

#swipebox-close {
  top: 35px;
  right: 35px;
  background-position: 0 0;
}

#swipebox-prev {
  background-position: -30px 0;
}

#swipebox-next {
  background-position: -60px 0;
}