// Testimonials Module Style

.testimonials {
  @include texture(before, corner-bl, bl, 140, 140);
  @include texture(after, corner-br, br, 70, 140);
  overflow: hidden;
  position: relative;
  break-inside: avoid;
  background-color: $gray-lite;
  padding: $padding-sm $padding-sm 60px;

  article {
    position: relative;
    background-color: $gray-lite;
  }

  .testimonials-images {
    margin-bottom: 25px;
    @include texture(before, wood, tl, 140, 140, 70);
  }

  .testimonial-image {
    height: 245px;
    position: relative;
    background-size: cover;
    clip-path: $clippath-double;
    background-position: center center;
  }

  .testimonials-text {
    z-index: 1;
    position: relative;
    &::before {
      top: 0;
      content: '';
      left: -35px;
      right: -35px;
      bottom: -20px;
      position: absolute;
      background-color: $gray-lite;
    }
  }

  blockquote {
    margin: 0;

    > * {
      z-index: 1;
      position: relative;
    }

    p {
      @include subtitle;
      margin-top: 0;
    }

    cite {
      @include smallcaps;
      font-style: normal;
    }
  }

  @include media-md {
    padding: $padding;

    .testimonials-text::before {
      bottom: -35px;
    }
  }
}