// UI components

.registration-mark {
  display: none;
  @include min-screen($breakpoint-nav) {  
    display: block;
    position: absolute;
    @include sprite($registration);
    @extend .sprite-icon;
  }
}

@mixin card($color,$cut,$pattern) {
  @if $cut == 'right' {
    padding-right: #{$global-padding / 2};
    > .-inner {
      &::before {
        left: 100%;
        border-left: #{$global-padding / 2} solid $color;
        border-top: #{$global-padding / 2} solid transparent;
      }
    }
  } @else if $cut == 'left' {
    padding-left: #{$global-padding / 2};
    > .-inner {
      &::before {
        right: 100%;
        border-right: #{$global-padding / 2} solid $color;
        border-top: #{$global-padding / 2} solid transparent;
      }
    }
  }

  &::before {
    top: 0px;
    left: 0px;
    z-index: 2;
    content: '';
    position: absolute;
    @extend .sprite-icon;
    @include sprite($pattern);
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: left top;
  }

  &.-wide {
    &::before {
      transform-origin: center;
      transform: rotate(0) translateX(0) scaleX(-1);
    }
  }

  > .-inner {
    background: $color;
    &::before {
      top: 0;
      bottom: 0;
      content: '';
      height: auto;
      position: absolute;
    }
  }
}

.card {
  position: relative;

  > .-inner {
    height: 100%;
    position: relative;
    padding: #{$global-padding / 2} #{$global-padding / 2} #{$global-padding / 2} #{$global-padding};
  }

  &.-wide {
    .-inner {
      padding: #{$global-padding} 0 #{$global-padding / 2} #{$global-padding / 2};
    }
  }

  &.-gray {
    color: $black;
    &.-cut-right {
      @include card($gray-lite, right, $triple-pattern);
    }
    &.-cut-left {
      @include card($gray-lite, left, $triple-pattern);
    }
  }
  &.-white {
    color: $black;
    &.-cut-right {
      @include card($white, right, $triple-pattern-purple);
    }
    &.-cut-left {
      @include card($white, left, $triple-pattern-purple);
    }
  }
  &.-black {
    color: $white;
    &.-cut-right {
      @include card($black, right, $triple-pattern-white);
    }
    &.-cut-left {
      @include card($black, left, $triple-pattern-white);
    }
  }
  &.-purple {
    color: $black;
    &.-cut-right {
      @include card($purple, right, $triple-pattern);
    }
    &.-cut-left {
      @include card($purple, left, $triple-pattern);
    }
  }
  &.-red {
    color: $white;
    &.-cut-right {
      @include card($red, right, $triple-pattern);
    }
    &.-cut-left {
      @include card($red, left, $triple-pattern);
    }
  }

  @include media-md {
    min-width: 300px;
  }
}

// Close button
.button-close {
  padding: 0;
  width: 35px;
  height: 35px;
  border: none;
  background: none;
  position: relative;
  .lines {
    top: 50%;
    left: 50%;
    height: 2px;
    width: 16px;
    position: absolute;
    transform: translate(-50%,-50%);
    &::before,
    &::after {
      top: 0;
      left: 0;
      height: 2px;
      width: 100%;
      content: '';
      background: $black;
      position: absolute;
      transition: all .2s ease-out;
    }
    &::before {
      transform: rotate(-45deg);
    }
    &::after {
      transform: rotate(45deg);
    }
  }

  // States
  &:focus {
    outline: none;
  }
  &:hover {
    .icon path {
      stroke-dashoffset: 300%;
    }
  }

  .icon {
    top: 3px;
    left: 50%;
    z-index: -1;
    width: 29px;
    height: 30px;
    stroke: $black;
    stroke-width: 3px;
    position: absolute;
    transform: translateX(-50%);
    path {
      stroke-dashoffset: 0;
      stroke-dasharray: 150%, 150%;
      transition: stroke-dashoffset .6s $slide-easing .1s;
    }
  }

  &.-white {
    .lines {
      &::before,
      &::after {
        background: $white;
      }
    }

    .icon {
      stroke: $white;
    }
  }

  &.-red {
    .lines {
      &::before,
      &::after {
        background: $red;
      }
    }

    .icon {
      stroke: $red;
    }
  }
}

// Previous/next buttons
.direction-buttons {
  width: 35px;
  @extend .h2;
  border: none;
  font-size: 8px;
  background: none;
  padding-top: 40px;
  position: relative;
  &:focus {
    outline: none;
  }
  .icon {
    padding: 0;
    position: absolute;
  }
  .icon-circle-stroke {
    top: 3px;
    left: 3px;
    width: 29px;
    height: 30px;
    stroke-width: 3;
  }
  .icon-arrow-right,
  .icon-arrow-left {
    top: 12px;
    width: 6px;
    left: 15px;
    height: 12px;
  }
  .icon-arrow-right {
    left: 16px; 
  }
  .icon-arrow-left {
    left: 14px; 
  }
}
.button-prev {
  @extend .direction-buttons;
}
.button-next {
  @extend .direction-buttons;
}

@mixin btn-colors($primary, $secondary) {
  color: $primary;
  border-color: $primary;
  .arrows {
    &::before,
    &::after {
      background: $primary;
    }
    .icon {
      fill: $primary;
    }
  }
  &:hover {
    .arrows {
      background: $primary;
      .icon {
        fill: $secondary;
      }
    }
  }
}

// Buttons
.btn {
  height: 50px;
  display: block;
  font-size: 10px;
  line-height: 1.5;
  background: none;
  border-width: 1px;
  @extend .font-bold;
  text-align: center;
  position: relative;
  border-style: solid;
  text-decoration: none;
  letter-spacing: .16em;
  text-transform: uppercase;
  @include btn-colors($black, $white);
  -webkit-font-smoothing: antialiased;
  padding: 18px $global-padding 20px 20px;
  .arrows {
    top: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    position: absolute;
    &::before,
    &::after {
      left: 0;
      width: 1px;
      content: '';
      position: absolute;
      height: #{$vertical-beat * 2};
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }

    .icon {
      top: 50%;
      left: 50%;
      width: 9px;
      height: 9px;
      position: absolute;
      transform: translate(-4px,-4px);
    }
  }

  &.-red {
    @include btn-colors($red, $white);
  }
  &.-purple {
    @include btn-colors($purple, $white);
  }
  &.-white {
    @include btn-colors($white, $black);
  }
  &.-white-purple {
    @include btn-colors($white, $purple);
  }
  &.-white-red {
    @include btn-colors($white, $red);
  }
}

// Headline Before/after dash style
@mixin headline-dash($position, $color: $black) {
  @if $position == 'before' {
    &::before {
      width: 6px;
      height: 2px;
      content: '';
      display: block;
      background: $color;
      margin-bottom: 12px;
    }
  } @elseif $position == 'after' {
    &::after {
      width: 6px;
      height: 2px;
      content: '';
      display: block;
      margin-top: 10px;
      background: $color;
    }
  } @elseif $position == 'both' {
    &::before,
    &::after {
      width: 6px;
      height: 2px;
      content: '';
      display: block;
      background: $color;
    }
    &::before {
      margin-bottom: 12px;
    }
    &::after {
      margin-top: 9px;
    }
  }
}