// Home page

.home.page {
  .page-header {
    h2 {
      color: $white;
      margin: auto 0;
      line-height: 1;
      max-width: 5em;
      font-size: 60px;
    }
  }

  .page-bottom {
    padding: 0;
    @include media-md {
      padding: 0 $global-padding;
    }
  }

  .recent-story {
    @include media-md {
      margin-top: -100px;
    }
  }

  .upcoming-sessions {
    @include media-md {
      width: 66.6666%;
      margin-top: -300px;
      margin-bottom: 144px;

      &::after {
        left: 0;
        top: 100%;
        content: '';
        @extend .sprite-icon;
        position: absolute;
        transform-origin: left top;
        @include sprite($pattern-large-black);
        transform: rotate(90deg) translateY(-100%);
      }
    }
  }
}