// Impact page + by the numbers

body.impact {
  .site-main::before {
    display: none;
  }
}

.primary-stats {
  .stat {
    max-width: 100%;
    flex-basis: 100%;
  }
}

// Stat Styles
.stat {
  @include texture(before, concrete, tl, 70, 70);
  @include texture(after, stone, tr, 140, 140);
  position: relative;
  text-align: center;
  padding: $padding-sm;

  &.small {
    max-width: 50%;
    flex-basis: 50%;
  }

  .bottom-textures {
    @include texture(before, corner-stat, bl, 70, 140);
    @include texture(after, wood, br, 70, 70);
  }

  > .-inner {
    background-color: $gray-lite;
  }

  .figure {
    @include type-stat;
    margin: 0;
  }

  .description {
    margin: 5px 0 0;
  }

  @include media-md {
    padding: 35px;

    > .-inner {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }
}

.testimonials {
  z-index: 1;
  position: relative;
  @include media-md {
    grid-column: 2 / 4;
    grid-row-start: 1;
  }
}

.secondary-header {
  @include media-md {
    margin-top: -180px;
  }
}

.secondary-stats {
  z-index: 1;
  position: relative;
  padding: $padding-sm;
  background-color: $gray-lite;
  @include media-md {
    margin-top: -$padding;
    padding: $padding $padding 0;
    .stat {
      max-width: 50%;
    }
  }
}