// Other Ways to Help Page

.page.other-ways-to-help {
  .secondary-header {
    .card {
      .-inner {
        padding-bottom: $global-padding;
      }
      h2 {
        color: $red;
        @include headline-dash('after', $gray-lite);
      }
    }
  }

  .page-bottom {
    .card {
      h2 {
        color: $red;
        @include headline-dash('after', $gray-lite);
      }

      .user-content {
        margin-bottom: #{$vertical-beat * 6};
        ul {
          li {
            &::before {
              color: $red;
            }
          }
        }
      }

      @include media-md {
        float: right;
        width: 66.6666%;
      }
    }
  }
}