// Common Page Styles

.page-intro {

  .card {
    .-inner {
      padding-left: #{$global-padding / 2};
    }
  }

  @include media-md {
    right: 0;
    z-index: 1;
    width: 50%;
    margin-left: 0;
    position: absolute;
    margin-top: #{-105px - ($global-padding / 2)};

    .-inner .page-content {
      max-width: 600px;
    }
  }
}

.page-content {
  h3 {
    font-size: 18px;
    line-height: 1.25;
    font-weight: normal;
  }

  p {
    line-height: 1.333333333;
  }

  @include media-md {
    h3 {
      font-size: 20px;
    }

    p {
      font-size: 15px;
    }
  }
}

.page:not(.home) {
  .page-bottom {
    > .one-half {
      @include media-md {
        min-width: 400px;
      }
    }
  }
}

.page-secondary-content-wrap {
  position: relative;
  @include media-md {
    &::after {
      z-index: -1;
      content: '';
      position: absolute;
      @extend .sprite-icon;
      left: -$global-padding;
      bottom: -$global-padding;
      @include sprite($pattern-large-2-black);
    }
  }
}

.page-secondary-content {
  overflow: hidden;
  position: relative;
  margin-top: -#{$global-padding / 2};

  h2 {
    font-size: 15px;
    position: relative;
    line-height: 1.333333333;
    margin-top: #{$vertical-beat * 6};
    margin-bottom: #{$vertical-beat * 3};
    padding-bottom: #{$vertical-beat * 4};
    &::after {
      left: 0;
      bottom: 0;
      width: 6px;
      height: 3px;
      content: '';
      margin: 1px 0;
      display: block;
      position: absolute;
      background: $black;
    }
    &:first-of-type {
      margin-top: 0;
      font-size: 20px;
      line-height: 1.25;
    }
  }

  h3 {
    margin-top: 0;
    font-size: 20px;
    line-height: 1.25;
    font-weight: normal;
  }

  @include media-md {
    margin-top: -100px;
  }
}

// Grids of cards
.card-grid {
  @include media-lg {
    margin-top: -100px;
  }

  .card {
    width: 100%;

    @include media-md {
      min-width: 1px;
      max-width: 100%;
      flex-basis: 100%;
    }
    @include media-lg {
      max-width: 75%;
      flex-basis: 75%;
    }
    @include media-xl {
      max-width: 50%;
      flex-basis: 50%;
    }

    h3 {
      @extend .h1;
      margin-top: 0;
    }

    &.-white {
      border-left: 1px solid $gray-lite;
      border-bottom: 1px solid $gray-lite;
      h3 {
        color: $red;
      }
    }

    .-inner {
      z-index: 1;
      position: relative;
      padding-bottom: #{$global-padding + 50px};
    }

    .btn.more {
      right: 0;
      position: absolute;
      left: #{$global-padding / 2};
      bottom: #{$global-padding / 2};
    }
  }

  &.-jagged {
    display: block;
    @include clearfix;
    .card {
      .btn.more {
        left: $global-padding;
        right: $global-padding;
      }
    }

    @include media-lg {
      margin-top: 0;
      .card {
        float: right;
        width: 66.6666%;
        position: relative;
        &::before {
          z-index: 2;
        }
        &::after {
          top: 0;
          left: -50%;
          content: '';
          position: absolute;
          @extend .sprite-icon;
          @include sprite($pattern-large-2-black);
        }
        &:nth-of-type(even) {
          float: left;
          &::after {
            top: auto;
            bottom: 0;
            left: 100%;
            transform: rotate(90deg);
            transform-origin: center left;
            @include sprite($pattern-large-black);
          }
        }
      }
    }
    @include media-xl {
     .card {
       float: right;
       width: 66.6666%;
       max-width: 66.6666%;
       &:nth-of-type(even) {
         float: left;
       }
     } 
    }
  }
}

// Bulleted lists
.bulleted-list {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    position: relative;
    padding-left: #{$vertical-beat * 3};
  }
  .icon {
    top: 0;
    left: 0;
    width: 6px;
    height: 12px;
    position: absolute;
    margin-right: #{$vertical-beat * 2};
  }
}