// Common Page Styles

.page-intro {
  z-index: 1;
  margin-top: -35px;
  position: relative;

  .page-content {
    p {
      @include subtitle;
      margin-top: 0;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    a:hover {
      color: $white;
    }
  }

  @include media-md {
    z-index: 1;
    width: 75%;
    margin-left: 0;
    margin-top: -$padding;
  }
}

.page-content {
  h3 {
    @include subtitle;
  }
}

// Top page content when there is a secondary header
.page-content-top {
  z-index: 1;
  position: relative;
}

.page:not(.home) {
  .page-bottom {
    > .one-half {
      @include media-md {
        min-width: 400px;
      }
    }
  }
}

// Section Titles
.section-title {
  @include texture(before, section-title, bl, 175, 70, true);
  @include h3;
  width: 100%;
  position: relative;
  margin: $padding-sm 0;

  .-inner {
    padding: 20px;
    display: block;
    background-color: $gray-lite;
  }

  @include media-md {
    margin: 35px 0;

    > .-inner {
      padding: 35px 40px;
    }
  }
}

.section-text {
  max-width: 745px;
  padding: 35px $padding-sm;
  background-color: $gray-lite;

  @include media-md {
    padding: 35px #{$padding-sm * 2};
  }
}

// Bottom Textures
.bottom-textures {
  left: 0;
  bottom: 0;
  width: 100%;
  position: absolute;
}

// Repeatable Page Cards
.page-cards {
  .card + .card {
    border-top: 1px solid $gray-lite;
  }

  .card-title {
    color: $black;
  }
}

// Blurb
.blurb {
  margin: 0;
  padding: 35px;
  position: relative;
  @include texture(before, concrete, tl, 140, 140);
  @include texture(after, metal, tr, 70, 70);

  .bottom-textures {
    @include texture(before, gridded-x, bl, 70, 70);
    @include texture(after, gridded-dots, br, 70, 70);
  }

  > .-inner {
    position: relative;
    padding: 22px 35px 28px;
    background-color: $gray-lite;
  }

  .blurb-image {
    height: 245px;
    position: relative;
    margin-bottom: 20px;
    background-size: cover;
    clip-path: $clippath-double;
    background-position: center center;
  }

  p {
    @include h5;
    margin: 0;
  }
  cite {
    @include smallcaps;
  }
}

// Bulleted lists
.bulleted-list {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    position: relative;
    padding-left: #{$vertical-beat * 3};
  }
  .icon {
    top: 0;
    left: 0;
    width: 6px;
    height: 12px;
    position: absolute;
    margin-right: #{$vertical-beat * 2};
  }
}

// Background Video Banner
.background-video-wrapper {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow: hidden;
  position: absolute;

  &::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    content: '';
    position: absolute;
    background-image: linear-gradient(90deg, rgba($black,0.25) 0%, rgba(20, 20, 20, 0) 80%);
  }

  video {
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
  }
}
