// Funders/Partners Pages

body.partners-funders {

  .card {
    > .-inner {
      padding-bottom: 20px;
    }

    .card-title {
      @include h4;
      margin: 0;
    }

    .content {
      margin-top: 0;
    }

    @include media-md {
      > .-inner {
        padding-bottom: 30px;
      }
    }
  }

  .individual-funders-list {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    &::before,
    &::after {
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      content: '';
      position: absolute;
      clip-path: $clippath;
      background-color: $white;
    }
    &::after {
      display: none;
    }

    > .-inner {
      z-index: 1;
      position: relative;
      padding: $padding-sm 0;
    }

    li {
      padding: 0 $padding-sm;
      + li {
        margin-top: 20px;
      }
    }

    h5 {
      @include h4;
      margin: 0;
      color: $purple;
    }
  }

  @include media-md {
    .testimonials {
      top: 0;
      right: 0;
      width: 50%;
      max-width: 50%;
      flex-basis: 50%;
      position: absolute;
    }

    .individual-funders-list {
      &.two-column {
        &::before,
        &::after {
          width: 50%;
        }
        &::after {
          left: 50%;
          display: block;
          border-left: 1px solid $gray-lite;
        }
        > .-inner {
          columns: 2;
        }
      }

      > .-inner {
        padding: 40px 0 20px;
      }

      li {
        padding: 0 40px;
      }
    }
  }
}