// Programs page

// Make program item in nav active when on single program
body.single-program {
  .site-nav .menu-programs::after {
    opacity: 1;
  }
}

.program-listing {
  .program-meta {
    p {
      margin: 0;
    }
  }
}

// No Current Sessions
body.page-template-program-type {
  .card.no-sessions {
    h3 {
      margin-bottom: 0;
    }
  }
}