// Single Program page
body.single.single-program {

  .post-content {
    .badge-icon {
      margin-top: -88px;
    }
  }

  .post-sidebar {
    @include media-md {
      display: block;
    }
  }

  .post-meta {

    + .post-meta {
      border-top: 1px solid $gray-lite;
    }

    .meta-block.title {
      margin-top: 0;
      padding-top: 0;
      padding-bottom: #{$vertical-beat * 6};
      &::before,
      &::after {
        display: none;
      }
      h2 {
        margin: 0;
        @extend .h1;
      }
    }

    .registration {
      p {
        @include subtitle(700);
      }
    }

    .date-time,
    .days-time,
    .sessions-offered,
    .enrollment,
    .tuition {
      p {
        @include subtitle(700);
      }
    }

    p.scholarship {
      @extend .font-regular;
      text-transform: capitalize;
    }

  }

  .badge-icon {
    .icon {
      width: 70px;
      height: 105px;
    }
  }

  .badges {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
    }
  }
}

.breadcrumbs {
  @extend .h2;
  color: $white;
  font-size: 8px;
  padding: 0 #{$padding / 2} 0;
  margin-bottom: #{$vertical-beat * 6};
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  span {
    display: inline-block;
    margin: 0 #{$vertical-beat * 2};
  }

  @include media-md {
    font-size: 10px;
    padding: 0 $padding 0;
  }
}