// Single Posts/Pages

body.single {
  .page-header {
    &::before {
      background-image: linear-gradient(180deg, rgba(112, 112, 112, 0) 0%, #707070 100%);
    }
    > .wrap::after {
      display: none;
    }
    .page-title {
      max-width: none;
    }
  }

  .site-main {
    padding-bottom: 0;
  }

  article {
    @include clearfix;
    z-index: 1;
    position: relative;

    @include media-md {
      margin-top: -$padding;
    }
  }

  // Post Intro
  .post-intro {
    .card-cta {
      margin-top: 0;
    }

    * + .card-cta {
      margin-top: $padding-sm;
    }
  }

  // When a post-slideshow is preceded by an intro setion
  .post-intro + .post-slideshow {
    margin-top: $padding-sm;
    padding-top: $padding-sm;
    border-top: 1px solid $gray-lite;

    @include media-md {
      padding-top: $padding-sm * 2;
      margin-top: $padding-sm * 1.5;
    }
  }

  .post-slideshow {
    padding: 0 $padding-sm $padding-sm;
    border-bottom: 1px solid $gray-lite;
    width: calc(100% + #{$padding-sm * 2});
    margin: 0 0 #{$padding-sm} #{-$padding-sm};

    .slider {
      clip-path: $clippath-double;
    }

    @include media-md {
      margin-left: -$padding-sm * 2;
      margin-bottom: $padding-sm * 2;
      width: calc(100% + #{$padding-sm * 4});
      padding: 0 #{$padding-sm * 2} #{$padding-sm * 2};
    }
  }

  .post-content {
    .card .-inner {
      padding-bottom: $padding;
    }

    .post-category {
      @include smallcaps;
      margin: 0;
    }

    .post-title {
      @include h1;
    }

    .post-subtitle {
      @extend .h2;
    }

    @include media-md {
      width: 64%;
      .card .-inner {
        padding-bottom: #{$padding / 2};
      }
    }
  }

  .post-sidebar {
    margin-top: -#{$padding / 2};

    .-bottom {
      .card + .card {
        border-top: 1px solid $gray-lite;
      }
    }

    .sidebar-text {
      h1, h2, h3, h4, h5, h6 {
        @include smallcaps;
      }
    }

    @include media-md {
      width: 36%;
      display: flex;
      margin-top: 0;
      flex-direction: column;
      justify-content: space-between;

      .-bottom {
        .card {
          border-left: 1px solid $gray-lite;
        }
      }
    }
  }

  .post-meta {
    .meta-block {
      position: relative;
      margin-top: #{$vertical-beat * 3};
      padding-top: #{$vertical-beat * 3};
      &:first-of-type {
        margin-top: 0;
      }

      .meta-section + .meta-section {
        margin-top: 40px;
      }
    }

    h4, h6 {
      @include smallcaps;
      margin: 0;
      color: $black;
      position: relative;
    }

    h6 {
      margin-bottom: 12px;
    }

    p {
      margin-top: 0;
    }

    time.updated {
      @include subtitle;
    }
    .category {
      @include h2;
    }
    .topics {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
      }
    }
  }

  .related-post {
    @include media-md {
      border-left: 1px solid $gray-lite;
    }
  }

  .post-nav {
    ul {
      padding: 0;
      li {
        list-style: none;

        + li {
          margin-top: 30px;
        }
      }
    }

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      &:hover {
        color: $red;
        span {
          text-decoration: underline;
        }
      }

      span {
        @include h4;
        color: $purple;
      }
    }

    .nav-button {
      color: $red;
      margin-right: 20px;
      text-align: center;

      .icon-circle-stroke {
        stroke: $red;
        margin-bottom: 5px;
      }

      .icon-arrow-left,
      .icon-arrow-right {
        fill: $red;
        position: absolute;
      }

      .icon-arrow-left {
        left: 15px;
      }
      .icon-arrow-right {
        left: 16px;
      }
    }
  }

  .post-image {
    height: 0;
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center center;
    margin-bottom: -#{$padding / 2};

    &.no-image {
      background: url('../images/program-default-image.jpg');
      background-size: cover;
      background-position: center center;
    }

    @include media-md {
      position: relative;
    }
  }

  //slider
  .slider {
    margin: 0;
    padding: 0;
    position: relative;
    .slide-item {
      &:focus {
        outline: none;
      }

      span {
        display: block;
      }

      &.video-slide {
        &:hover {
          .play-button .icon {
            transform: translateX(4px) scale(1.2);
          }
        }
        .slide-inner {
          top: 50%;
          width: 100%;
          text-align: center;
          position: absolute;
          transform: translateY(-50%);
          @include media-md {
            margin-top: -35px;
          }
        }
        .play-button {
          width: 60px;
          height: 60px;
          display: flex;
          margin: 0 auto;
          border-radius: 50%;
          background: rgba($black,.85);
          @include media-md {
            width: 120px;
            height: 120px;
          }
        }
      }
    }
  }
}

.single-post {

  article {
    @include clearfix();

    main {
    }

    header {
    }

    .user-content {
      h1 {
        @include h2;
      }
      h2 {
        @include subtitle(600);
      }
      h3, h4, h5, h6 {
        @include smallcaps;
      }

      img {
      }

      ul, ol {
        padding-left: 0;
      }

      figure, figure:first-child {
        margin: 30px 0;
      }

      figure > img,
      figure >img:first-child {
        margin: 0;
      }

      figcaption {
      }

      blockquote {
        padding: 20px 0;
        p {
          font-size: 24px;
          margin-bottom: 0;
        }
      }
    }
  }

}