// Single Program page
.single-program {

  .post-content {
    .badge-icon {
      margin-top: -88px;
    }
  }

  .post-meta {

    .registration {
      margin-top: #{$vertical-beat * 12};
    }

    .date-time,
    .enrollment,
    .tuition {
      p {
        @extend .font-display;
      }
    }
    
    p.scholarship {
      @extend .font-regular;
      text-transform: capitalize;
    }
  
  }

  .badge-icon {
    .icon {
      width: 70px;
      height: 105px;
    }
  }

  .badges {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
    }
  }
}