// Stories Styles

.blog {
  .story-snippet {
    position: relative;
    .post-thumb {
      top: 33%;
      z-index: 2;
      margin-top: 0;
      display: none;
      position: absolute;
      right: #{$global-padding / 2};
      transform: translate(100%, -50%);
    }

    @include media-md {
      .post-thumb {
        display: block;
      }
    }

    @include media-lg {
      &:nth-of-type(even) {
        .post-thumb {
          right: auto;
          left: #{$global-padding / 2};
          transform: translate(-100%, -50%);
        }
      }
    }
  }

  .secondary-header {
    .story-snippet {
      position: relative;
      .post-thumb {
        left: auto;
        right: #{$global-padding / 2};
        transform: translate(100%, -50%);
      }
    }
  }

  .page-bottom {
    @include media-md {
      .sticky-wrapper {
        top: -35px;
        width: 33.3333%;
        padding-top: 35px;
        position: relative;
        max-width: 33.3333%;
        .story-nav {
          width: 100%;
          max-width: none;
        }

        .stuck {
          top: 35px;
          position: fixed;
          width: calc(33.3333% - 58px);
        }
      }
    }

    @include min-screen($breakpoint-nav) {
      .sticky-wrapper {
        top: -67px;
        padding-top: 67px;
        .stuck {
          top: 67px;
        }
      }
    }
  }

  .story-nav {
    padding: #{$global-padding / 2} $global-padding;
    @include media-md {
      margin-top: $global-padding;
      padding: 0 0 0 #{$global-padding * 2};
    }

    .-inner {
      @include clearfix;
      position: relative;
      padding-top: #{$vertical-beat * 2};
      &::before {
        top: 0;
        left: -12px;
        content: '';
        height: 1px;
        background: $black;
        position: absolute;
        right: -$global-padding;
      }
      &::after {
        top: 0;
        width: 1px;
        content: '';
        left: -12px;
        background: $black;
        position: absolute;
        height: #{$vertical-beat * 2};
      }

      br {
        display: none;
        @include media-md {
          display: block;
        }
      }
    }

    a {
      color: red;
      width: 30px;
      padding-top: 32px;
      text-align: center;
      display: inline-block;
      text-decoration: none;
      &:first-of-type {
        margin-right: #{$vertical-beat * 3};
      }
      @include media-md {
        float: none;
        &:first-of-type {
          margin-right: 0;
          margin-bottom: #{$vertical-beat * 3};
        }
      }
    }

    .nav-button {
      float: left;
      color: $red;
      margin-right: 2px;
      text-align: center;
    }

    .icon-arrow-left,
    .icon-arrow-right {
      fill: $red;
    }
    .icon-arrow-left {
      left: 11px;
    }
    .icon-arrow-right {
      left: 12px;
    }
    
    .icon-circle-stroke {
      left: 0;
      stroke: $red;
    }
  }
}

.stories-list.card-grid.-jagged {
  @include media-md {
    margin-top: -100px;
  }

  @include media-lg {
    margin-top: 0;
    .card {
      float: left;
      &::after {
        top: auto;
        bottom: 0;
        left: 100%;
        transform: rotate(90deg);
        transform-origin: center left;
        @include sprite($pattern-large-black);
      }
      &:first-of-type {
        margin-bottom: -100%;
        transform: translateY(-100%);
      }
      &:nth-of-type(even) {
        float: right;
        &::after {
          top: 0;
          left: -50%;
          content: '';
          transform: none;
          position: absolute;
          @include sprite($pattern-large-2-black);
        }
      }
    }
  }
}


.story-module {
  margin-top: 100px;
  @include media-lg {
    margin-top: 0;
  }
}

.story-snippet {
  @include media-md {
    max-width: 400px;
  }
  .post-thumb {
    width: 144px;
    height: 144px;
    border-radius: 50%;
    margin-top: -114px;
    background-size: cover;
    background-position: center center;
  }
  h4 {
    font-size: 10px;
    line-height: 1.5;
    @extend .font-bold;
    letter-spacing: .16em;
    text-transform: uppercase;
  }
  .post-title {
    color: $red;
    line-height: 1.5;
    @extend .font-display;
    &::before,
    &::after {
      width: 6px;
      height: 2px;
      content: '';
      display: block;
      background: $gray-lite;
    }
    &::before {
      margin-bottom: 12px;
    }
    &::after {
      margin-top: 12px;
    }

    a {
      position: relative;
      text-decoration: none;
      span {
        padding-bottom: $vertical-beat;
        border-bottom: 1px solid rgba($red,0);
      }
      &:hover {
        span {
          border-bottom: 1px solid rgba($red,1);
        }
      }
    }
  }
  .post-excerpt {
    font-size: 15px;
  }

  .btn {
    margin-top: #{$vertical-beat * 6};
  }
}