// Support Page

.page.support {
  .page-secondary-content-wrap {
    &::after {
      left: 0;
      bottom: -#{$padding * 2};
    }
    @include media-md {
      margin-bottom: $padding;
    }
  }
}