// Team Page

.page.team {
  .page-secondary-content-wrap {
    &::before {
      display: none;
      @extend .sprite-icon;
    }
    @include media-md {
      width: 75%;
      &::before {
        top: 100px;
        left: 100%;
        content: '';
        display: block;
        position: absolute;
        @include sprite($pattern-large-black);
      }
    }
  }

  .page-secondary-content {
    .section-title {
      @extend .h1;
      position: relative;
      margin-top: #{$vertical-beat * 6};
      margin-bottom: #{$vertical-beat * 3};
      padding-bottom: #{$vertical-beat * 4};
      &::after {
        left: 0;
        bottom: 0;
        width: 6px;
        height: 3px;
        content: '';
        margin: 1px 0;
        display: block;
        position: absolute;
        background: $black;
      }
      &:first-of-type {
        margin-top: 0;
        font-size: 20px;
        line-height: 1.25;
      }
    }
  }
}

// Team Grid

.people-grid {

  .person {
    color: $white;
    -webkit-font-smoothing: antialiased;
    margin-bottom: #{$vertical-beat * 3};
    .photo {
      display: none;
      margin-bottom: #{$vertical-beat * 4};
      border-radius: 50%;
    }
    h2 {
      @extend .h2;
      font-size: 10px;
      max-width: 100px;
      &::after {
        display: block;
      }
    }
    .bio-label {
      display: none;
    }
    .credentials {
      font-size: 11px;
      line-height: 1.363636364;
    }
    .body-content {
      display: none;
    }
  }

  @include media-md {
    display: flex;
    flex-wrap: wrap;
    @include clearfix;
    margin-left: -30px;
    width: calc(100% + 30px);

    .person {
      .photo {
        display: block;
      }
    }

    .person.grid-item {
      max-width: 50%;
      flex-basis: 50%;
      padding-left: 30px;
    }
  }

  @include media-lg {
    .person.grid-item {
      max-width: 33.3333%;
      flex-basis: 33.3333%;
    }
  }

  // Different types of people
  &.staff-grid {
    .person {
      cursor: pointer;
      h2 {
        &::after {
          display: none;
        }
      }
      .credentials {
        display: none;
      }
    }
  }

  &.board-of-directors-grid {
    .person {
      h2::after {
        background: $white;
      }
    }
  }
}

.person {
  .photo {
    height: 0;
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center center;
  }
}

// Active person container
.active-person {
  article {
    @include clearfix;
  }

  .photo-wrap {
    overflow: hidden;
  }

  .bio-label {
    @extend .h2;
    margin-top: 0;
    margin-bottom: #{$vertical-beat * 2};
  }

  .person-name {
    margin-top: 0;
    @include headline-dash('both');
  }

  .credentials {
    @extend .h3;
  }

  .content {
    overflow: hidden;
    @extend .card, .-gray, .-cut-right, .-wide;
    margin-top: -#{$global-padding / 2};
    min-width: 1px;
  }

  @include media-md {
    width: calc(100% - #{$global-padding * 2});

    .content {
      width: 50%;
      float: left;
      height: 100%;
      margin-top: 0;
    }

    .-inner {
      height: 100%;
      display: flex;
      padding-bottom: 0;
      flex-direction: column;
    }

    article {
      height: 100%;
      .credentials {
        margin-top: 0;
      }
      .body-content {
        overflow: auto;
        max-height: 100%;
        position: relative;
        margin-left: -#{$global-padding / 2};
        padding: 0 #{$global-padding / 2} 0; //$global-padding;
        width: calc(100% + #{$global-padding});
      }
    }

    .photo-wrap {
      width: 50%;
      float: left;
    }
  }
}