// Team Page

.page.team {
  .page-secondary-content-wrap {
    &::before {
      display: none;
      @extend .sprite-icon;
    }
    @include media-md {
      width: 75%;
      &::before {
        top: 100px;
        left: 100%;
        content: '';
        display: block;
        position: absolute;
        @include sprite($pattern-large-black);
      }
    }
  }
}

// Team Grid

.people-grid {

  .person {
    cursor: pointer;
    .card-title {
      margin-top: 0;
    }
    .bio-label {
      display: none;
    }
    .credentials {
      @include p1;
    }
    .body-content {
      display: none;
    }
  }

  // Different types of people
  &.staff-grid {
    .person {
      h2 {
        &::after {
          display: none;
        }
      }
    }
  }

  &.board-of-directors-grid {
    .person {
      h2::after {
        background: $white;
      }
    }
  }
}

// Active person container
.active-person {
  margin: 0 auto;
  max-width: 490px;

  .bio-content {
    overflow: auto;
    background-color: $white;
  }

  .person-header,
  .person-bio {
    padding: 35px $padding-sm;
  }

  .person-image-container {
    padding: 0 $padding-sm;
  }

  .person-header {
    border-bottom: 1px solid $gray-lite;

    h4 {
      @include smallcaps;
      margin: 0;
    }

    .person-name {
      @include h2;
      margin: 0;
    }

    .credentials {
      @include p1;
      margin: 5px 0 0;
    }
  }

  .person-image-container {
    .person-image {
      height: 0;
      width: 100%;
      margin: 35px 0 0;
      background-size: cover;
      padding-bottom: 82.9268%;
      clip-path: $clippath-double;
      background-position: center center;
    }
  }

  .content {
    overflow: hidden;
    @extend .card, .-gray, .-wide;
    margin-top: -#{$padding / 2};
    min-width: 1px;
  }

  .person-bio {
    p {
      margin-top: 0;
    }
  }

  @include media-md {

    .bio-content {
      clip-path: $clippath;
    }

    .person-header,
    .person-bio {
      padding: 35px 40px;
    }

    .person-image-container {
      padding: 0 40px;
    }

    .-inner {
      height: 100%;
      display: flex;
      padding-bottom: 0;
      flex-direction: column;
    }

    article {
      height: 100%;
      .credentials {
        margin-top: 0;
      }
      .body-content {
        overflow: auto;
        max-height: 100%;
        position: relative;
        margin-left: -#{$padding / 2};
        padding: 0 #{$padding / 2} 0; //$padding;
        width: calc(100% + #{$padding});
      }
    }

    .photo-wrap {
      width: 50%;
      float: left;
    }
  }
}