// Grid

$vertical-beat: 5px;

$padding: 70px;
$padding-sm: 20px;

.grid {
  width: 100%;
  display: block;
  @include min-screen($breakpoint-md) {
    display: flex;
    flex-wrap: wrap;

    // Right-aligned
    &.-right-aligned {
      flex-direction: row-reverse;
    }

    // Align items at top
    &.-align-start {
      align-items: flex-start;
    }
  }
  &.-persist {
    display: flex;
  }
}

.grid.-persist {
  .grid-item {
    flex-basis: auto;
  }
  .one-fourth {
    max-width: 25%;
    flex-basis: 25%;
  }
  .one-third {
    flex-basis: 33.3333333%;
    max-width: 33.3333333%;
  }
  .one-half {
    flex-basis: 50%;
    max-width: 50%;
  }
  .two-thirds {
    flex-basis: 66.6666667%;
    max-width: 66.6666667%;
  }
}

@include min-screen($breakpoint-md) {
  .grid-item {
    flex-basis: auto;
  }
  .one-fourth {
    max-width: 25%;
    flex-basis: 25%;
  }
  .one-third {
    flex-basis: 33.3333333%;
    max-width: 33.3333333%;
  }
  .one-half {
    flex-basis: 50%;
    max-width: 50%;
  }
  .two-thirds {
    flex-basis: 66.6666667%;
    max-width: 66.6666667%;
  }
}

// This allows js to determine breakpoint
#breakpoint-indicator {
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;

  &::after {
    content: 'xs';
    @include min-screen($breakpoint-sm) {
      content: 'sm';
    }
    @include min-screen($breakpoint-md) {
      content: 'md';
    }
    @include min-screen($breakpoint-lg) {
      content: 'lg';
    }
    @include min-screen($breakpoint-nav) {
      content: 'nav';
    }
    @include min-screen($breakpoint-xl) {
      content: 'xl';
    }
  }
}