// Typography

@font-face {
  font-family: 'gg_display_mono';
  src: url('../fonts/ggdisplaymono-regular-webfont.woff2') format('woff2'),
  url('../fonts/ggdisplaymono-regular-webfont.woff') format('woff'),
  url('../fonts/ggdisplaymono-regular-webfont.ttf') format('truetype'),
  url('../fonts/ggdisplaymono-regular-webfont.svg#gg_display_monoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Fonts
$font-display: 'gg_display_mono', monospace;
$font-regular: 'Rational-Book', sans-serif;
$font-regular-italic: 'Rational-BookItalic', sans-serif;
$font-bold: 'Rational-SemiBold', sans-serif;
$font-bold-italic: 'Rational-SemiBoldItalic', sans-serif;

.font-display {
  font-weight: normal;
  font-family: $font-display;
  text-transform: uppercase;
}

.font-regular {
  font-weight: normal;
  font-family: $font-regular;
}

.font-reglar-italic {
  font-weight: normal;
  font-style: normal;
  font-family: $font-regular;
}

.font-bold {
  font-weight: normal;
  font-family: $font-bold;
}

.font-bold-italic {
  font-style: normal;
  font-weight: normal;
  font-family: $font-bold-italic;
}

.h1 {
  font-size: 20px;
  line-height: 1.25;
  @extend .font-display;
  text-transform: uppercase;
}

.h2 {
  font-size: 10px;
  line-height: 1.5;
  @extend .font-bold;
  letter-spacing: .16em;
  text-transform: uppercase;
}

.h3 {
  font-size: 20px;
  line-height: 1.25;
  @extend .font-regular;
}