// WordPress Generated Classes
// http://codex.wordpress.org/CSS#WordPress_Generated_Classes

// Media alignment
.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  height: auto;
}
.aligncenter {
  display: block;
  height: auto;
}
.alignleft,
.alignright {
  width: 100%;
  height: auto;
}
@include media-sm {
  // Only float if not on an extra small device
  .alignleft,
  .alignright {
    width: auto;
    max-width: 50%;
    margin-bottom: 20px;
  }
  .alignleft {
    float: left;
    margin-right: 20px;
  }
  .alignright {
    float: right;
    max-width: 50%;
    margin-left: 20px;
  }
}

// Captions
.wp-caption {

}
.wp-caption-text {

}

// Text meant only for screen readers
.screen-reader-text {
  @extend .visually-hidden;
}
